/* Pricing Overview */
.pricingOverviewCharts {
    margin-top: 10px;
}

.pricingOverviewChart {
    width: 49.57627118644068%;
    display: inline-block;
    vertical-align: top;

    &:first-child {
        margin-right: 0.8474576271186441%;
    }
}